.card-header {
  
    font-size: large;
}
   
.card {
    text-align: center;
    margin-top: 10px
}
   
.table {
     margin-top: 10px
}

.text {
  margin-top: 10px
}
.card-body{
  margin-top: 10px

}