<div class="card">
    <div class="card-header">
      {{ welcomePage }}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/images/rose.jpg.PNG"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">Developed by: IVY  </div>
  
        <div class="text-center">
            <div class="text">
            <a href="https://ivybarish.com/">ivybarish.com/</a>
            </div>
        </div>

      <div class="text">
          <div class="text-center">Contact: 
            <h3>Ivybarish185@gamil.com </h3>
          </div>
      </div>
      </div>
    </div>
  </div>
