<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

        <!-- for the routes/url must match in folwer/auth-routing.model.ts in auth/flower folder-->
        <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['is-active']" href="">Welcome <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/skill']" [routerLinkActive]="['is-active']" href="#">Skills</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/resgistration']" [routerLinkActive]="['is-active']" href="#">Registration</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['is-active']" href="#">Login</a>
      </li>

      <li class="nav-item">
        <!--registration-web-api must match the  name of  the path in auth-routing.model.ts  in auth folder-->
        <a class="nav-link" [routerLink]="['/auth/user-profile']" [routerLinkActive]="['is-active']" href="#">Profiles</a>
      </li>

    </ul>
    <!-- Search form -->
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </div>
  </form>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
<router-outlet></router-outlet>
