
<div class="text-center">
    <div class="text">
        <h2>Introduction </h2>
        <p>I recently graduated from UNLV with a B.S. in Computer Science during the Fall Semester of 2019. 
            I have developed applications with ASP.NET C# a Python Flask & Django during my time at UNLV. 
        </p>
    </div>

    <div class="text">
        <h2>Why should you hire me? </h2>
        <p>I am a recent college grad that is excited to start a career in Software Development. 
            This website was built with ReactJS, Material UI,and ASP.NET C# Web API with MS SQL. 
            My goals are to build intuitive user interfaces with React or Angular. If you hire me, you will get a team player and a loyal employee that will work above and beyond to provide the highest level of support for the customers. I look forward to learning as much as I can about the company culture and organization that I am tasked to support.
        </p>
    </div>

    <div class="text">
        <h2>Skills</h2>

        <p>MS SQL Server </p>
        <p>ReactJS </p>
        <p>Python Flask </p>
        <p>ASP.NET Web API</p>
        <p>HTML5 </p>
        <p>CSS3  </p>
        <p>Material UI</p>
        <p>JSON </p>
        
    </div>
</div>