<div class="container">
    <div class = "box1">
        <div class="text">
          <img src="./assets/images/ASP.NET.jpg"
               class="img-responsive center-block"
               style="max-height:150px;padding-bottom:50px" />
            <h2>ASP.NET</h2>
            <p> Web API</p>
            <p> MVC </p>
            <p> Using EF to Return JSON</p>
            <p> Basic CRUD Operations </p>
        </div>  
    </div>

    <div class = "box1">
        <div class="text">
          <img src="./assets/images/python.jpg"
               class="img-responsive center-block"
               style="max-height:150px;padding-bottom:50px" />
            <h2>Python</h2>
            <p> Full CRUD with Auth in Django</p>
            <p> Flask - API returning JSON </p>
            <p> Flask - API Basic CRUD Operations</p>
        </div>  
    </div>
    <div class = "box1">
        <div class="text">
          <img src="./assets/images/SQL.jpg"
               class="img-responsive center-block"
               style="max-height:150px;padding-bottom:50px" />
            <h2>SQL</h2>
            <p> MS SQL Joins</p>
            <p> Tables, Index, PK, Contraints </p>
            <p> Using EF to Return JSON</p>
            <p> MS SQL Stored Procs </p>
            <p> SSMS</p>
        </div>  
    </div>

    <div class = "box1">
        <div class="text">
          <img src="./assets/images/ReactJS.jpg"
               class="img-responsive center-block"
               style="max-height:140px;padding-bottom:50px" />
            <h2>ReactJS</h2>
            <p> Basic Component Communication</p>
            <p> Axios </p>
            <p> Material UI</p>
            <p> Formik </p>
        </div>  
    </div>


     
  </div>
