
.container{
    max-width: 70%;
    margin: 40px;
    max-height:80%;
  
   
  }
  .box1{
    display: block;
    font-size: small;
    // put element to left to eachother
    float: left;
    width: 25.0%;
    border: 1px  black solid;
    padding: 5px;
    margin:  4px;
    line-height: 1.5em;
    text-align: center;
    box-sizing: border-box;


  }
